body {
  box-sizing: border-box;
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--color-bgc-green);
  color: var(--color-grey);
}

.header {
  min-height: 15vh;
  display: grid;
  place-items: center;

  &__h1 {
    margin: 0;
    padding: 0;
    color: var(--color-bgc-silver);
    color: white;
    font-family: var(--font-header);
    & span {
      font-size: 2.8rem;

      @media only screen and (max-width: $bp-tiny) {
        font-size: 2.5rem;
      }
    }
  }
}

.main {
  width: 80vw;
  min-height: 70vh;
  margin: 0 auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.shopping-list {
  background-color: var(--color-bgc-silver);
  padding: 2rem;
  border-radius: 0.15rem;
  box-shadow: var(--shadow-box-big);

  @media only screen and (max-width: $bp-tiny) {
    padding: 1.2rem 1.8rem;
  }

  &__header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &__header {
    font-family: var(--font-header);
    font-size: 1.8rem;
  }

  &__buttonEdit {
    background-color: var(--color-bgc-green);
    color: var(--color-bgc-silver);
    border: none;
    border-radius: 0.15rem;
    padding: 4px 7px;
    font-size: 1.3rem;
    cursor: pointer;
    display: grid;
    place-items: center;

    & span {
      transform: rotate(140deg);
    }
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  &__input {
    min-width: 70%;
    border: 1px solid var(--color-grey-dark);
    border-bottom-left-radius: 0.15rem;
    border-top-left-radius: 0.15rem;
    padding: 0.5rem 1rem;
    font-family: inherit;
    color: inherit;

    &:focus {
      outline: none;
      border: 1px solid var(--color-red);
    }
  }

  &__button {
    border: none;
    border-bottom-right-radius: 0.15rem;
    border-top-right-radius: 0.15rem;
    padding: 0.5rem 1rem;
    background-color: var(--color-red);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    padding: 0.8rem 0;
    color: var(--color-grey);
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 1rem;
    align-items: center;

    &:not(:last-child) {
      border-bottom: var(--line-grey-light);
    }

    @media only screen and (max-width: $bp-smallest) {
      padding: 0.5rem 0;
    }
  }
}

.shopping-list__item input[type="checkbox"] {
  display: none;
}

.shopping-list__item input[type="checkbox"]:checked + .itemName {
  color: #909291;
}
.itemName {
  display: flex;
  align-items: center;
}
.shopping-list__newCheckbox {
  position: relative;
  border: 2px solid var(--color-bgc-green);
  border-radius: 0.15rem;
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;

  &::before {
    content: "✓";
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 0.7rem;
    background-color: var(--color-bgc-green);
    color: var(--color-bgc-silver);
    border-radius: 0.15rem;
    opacity: 0;
  }
}

.shopping-list__item
  input[type="checkbox"]:checked
  + .itemName
  .shopping-list__newCheckbox::before {
  opacity: 1;
}

.shopping-list__item button {
  background-color: var(--color-red);
  color: var(--color-bgc-silver);
  border: none;
  border-radius: 0.15rem;
  padding: 0 3.5px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.shopping-list__item button:hover {
  transform: scale(1.3);
}

.footer {
  min-height: 15vh;
  display: grid;
  place-items: center;
  font-family: var(--font-header);
  font-size: 1.7rem;
  color: var(--color-bgc-silver);
}
