:root {
  --color-bgc-green: #5b8c5a;
  --color-bgc-silver: #fefefe;
  --color-grey: #2d2e2d;
  --color-red: #ea3546;
  --color-grey-dark: #cfd1d0;
  --color-grey-light: #e5e7e3;

  --font-primary: "Roboto", sans-serif;
  --font-header: "Sniglet", cursive;
  --shadow-box-big: 0 1rem 1.4rem rgba(68, 70, 85, 0.4);
  --line-grey-light: 1px solid var(--color-grey-light);
}

$bp-smallest: 30.94em; //496px użyte w margin li
$bp-tiny: 23.44em; //375px użyte w h1

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: min(max(0.8rem, 1.2vw), 1.3rem);
  @supports (font-size: clamp(0.8rem, 1.2vw, 1.3rem)) {
    font-size: clamp(0.8rem, 1.2vw, 1.3rem);
  }
  scroll-behavior: smooth;
}
::selection {
  background-color: var(--color-bgc-green);
  color: var(--color-bgc-silver);
}
